In [1]:
import pandas as pd
from Process import get_sql_connection, save_excel_auto_width

In [2]:
engine=get_sql_connection(r"C:\Users\david\SQL\habvsper.db", csv_path=r"C:\Users\david\Downloads\student_habits_performance.csv",table_name="students")
engine.dispose()

Connecting to 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

CSV data loaded into table 'students'.

In [3]:
#my definition of get_sql_connection
'''
def get_sql_connection(db_path, csv_path=None, table_name=None):
    """
    Create and return a persistent SQLAlchemy connection, register it with ipython-sql magic,
    and optionally load a CSV into the database if csv_path and table_name are provided.
    """
    # Create a connection to the SQL database
    engine = create_engine(f'sqlite:///{db_path}')
    conn = engine.connect()

    # Close connection on exit
    atexit.register(lambda: conn.close())

    # Register the connection for ipython-sql magic
    ipython = get_ipython()
    ipython.run_line_magic("load_ext", "sql")
    ipython.run_line_magic("sql", f"sqlite:///{db_path}")

    # If a CSV path and table name are provided, load the CSV into the SQL database
    if csv_path and table_name:
        # Read the CSV file into a Pandas DataFrame
        df = pd.read_csv(csv_path)
        
        # Insert the DataFrame into the SQL database (create or replace the table)
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)

        print(f"CSV data loaded into table '{table_name}'.")

    return conn
'''

'\ndef get_sql_connection(db_path, csv_path=None, table_name=None):\n    """\n    Create and return a persistent SQLAlchemy connection, register it with ipython-sql magic,\n    and optionally load a CSV into the database if csv_path and table_name are provided.\n    """\n    # Create a connection to the SQL database\n    engine = create_engine(f\'sqlite:///{db_path}\')\n    conn = engine.connect()\n\n    # Close connection on exit\n    atexit.register(lambda: conn.close())\n\n    # Register the connection for ipython-sql magic\n    ipython = get_ipython()\n    ipython.run_line_magic("load_ext", "sql")\n    ipython.run_line_magic("sql", f"sqlite:///{db_path}")\n\n    # If a CSV path and table name are provided, load the CSV into the SQL database\n    if csv_path and table_name:\n        # Read the CSV file into a Pandas DataFrame\n        df = pd.read_csv(csv_path)\n        \n        # Insert the DataFrame into the SQL database (create or replace the table)\n        df.to_sql(table_name, con=engine, if_exists=\'replace\', index=False)\n\n        print(f"CSV data loaded into table \'{table_name}\'.")\n\n    return conn\n'

In [4]:
%%sql
DROP TABLE IF EXISTS students_new;

CREATE TABLE students_new (
    student_num INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id TEXT, 
    age INTEGER, 
    gender TEXT, 
    study_hours_per_day REAL, 
    social_media_hours REAL, 
    netflix_hours REAL, 
    part_time_job INTEGER, 
    attendance_percentage REAL, 
    sleep_hours REAL, 
    diet_quality INTEGER, 
    exercise_frequency INTEGER, 
    parental_education_level INTEGER, 
    internet_quality INTEGER, 
    mental_health_rating INTEGER, 
    extracurricular_participation INTEGER, 
    exam_score REAL
);

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

++
||
++
++

In [5]:
%%sql
INSERT INTO students_new 
SELECT NULL, * FROM students;
--Copy all records from 'students' into 'students_new', letting SQLite auto-assign a new primary key

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

1000 rows affected.

++
||
++
++

In [6]:
%%sql
DROP TABLE IF EXISTS top_students;
CREATE TABLE top_students AS
SELECT * FROM students_new WHERE exam_score>=90 ORDER BY exam_score DESC
--makes a table for those who made an A

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

++
||
++
++

In [7]:
%%sql
SELECT * FROM students LIMIT 5;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+------------+-----+--------+---------------------+--------------------+---------------+---------------+-----------------------+-------------+--------------+--------------------+--------------------------+------------------+----------------------+-------------------------------+------------+
| student_id | age | gender | study_hours_per_day | social_media_hours | netflix_hours | part_time_job | attendance_percentage | sleep_hours | diet_quality | exercise_frequency | parental_education_level | internet_quality | mental_health_rating | extracurricular_participation | exam_score |
+------------+-----+--------+---------------------+--------------------+---------------+---------------+-----------------------+-------------+--------------+--------------------+--------------------------+------------------+----------------------+-------------------------------+------------+
|   S1000    |  23 | Female |         0.0         |        1.2         |      1.1      |       No      |          85.0         |     8.0     |     Fair     |         6          |          Master          |     Average      |          8           |              Yes              |    56.2    |
|   S1001    |  20 | Female |         6.9         |        2.8         |      2.3      |       No      |          97.3         |     4.6     |     Good     |         6          |       High School        |     Average      |          8           |               No              |   100.0    |
|   S1002    |  21 |  Male  |         1.4         |        3.1         |      1.3      |       No      |          94.8         |     8.0     |     Poor     |         1          |       High School        |       Poor       |          1           |               No              |    34.3    |
|   S1003    |  23 | Female |         1.0         |        3.9         |      1.0      |       No      |          71.0         |     9.2     |     Poor     |         4          |          Master          |       Good       |          1           |              Yes              |    26.8    |
|   S1004    |  19 | Female |         5.0         |        4.4         |      0.5      |       No      |          90.9         |     4.9     |     Fair     |         3          |          Master          |       Good       |          1           |               No              |    66.4    |
+------------+-----+--------+---------------------+--------------------+---------------+---------------+-----------------------+-------------+--------------+--------------------+--------------------------+------------------+----------------------+-------------------------------+------------+

In [8]:
#shows top 5 of data

In [9]:
%%sql
SELECT study_hours_per_day, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY study_hours_per_day
ORDER BY study_hours_per_day;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+---------------------+-----------+
| study_hours_per_day | avg_score |
+---------------------+-----------+
|         0.0         |   40.81   |
|         0.1         |    53.4   |
|         0.2         |    31.5   |
|         0.3         |   32.63   |
|         0.5         |   39.52   |
|         0.6         |    18.4   |
|         0.7         |   48.02   |
|         0.8         |   39.81   |
|         0.9         |   29.53   |
|         1.0         |   46.42   |
+---------------------+-----------+
Truncated to displaylimit of 10.

In [10]:
%%sql
SELECT social_media_hours, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY social_media_hours
ORDER BY social_media_hours;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+--------------------+-----------+
| social_media_hours | avg_score |
+--------------------+-----------+
|        0.0         |   76.03   |
|        0.1         |   67.97   |
|        0.2         |   75.63   |
|        0.3         |   75.55   |
|        0.4         |   70.15   |
|        0.5         |   81.53   |
|        0.6         |    74.3   |
|        0.7         |   72.88   |
|        0.8         |   70.31   |
|        0.9         |   73.36   |
+--------------------+-----------+
Truncated to displaylimit of 10.

In [11]:
%%sql
SELECT netflix_hours, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY netflix_hours
ORDER BY netflix_hours;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+---------------+-----------+
| netflix_hours | avg_score |
+---------------+-----------+
|      0.0      |   75.73   |
|      0.1      |   72.71   |
|      0.2      |   78.97   |
|      0.3      |   75.37   |
|      0.4      |   76.41   |
|      0.5      |   73.03   |
|      0.6      |   74.71   |
|      0.7      |   68.84   |
|      0.8      |   70.87   |
|      0.9      |   74.79   |
+---------------+-----------+
Truncated to displaylimit of 10.

In [12]:
%%sql
SELECT sleep_hours, ROUND(AVG(mental_health_rating),2) AS avg_mental_health, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY sleep_hours
ORDER BY sleep_hours;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+-------------+-------------------+-----------+
| sleep_hours | avg_mental_health | avg_score |
+-------------+-------------------+-----------+
|     3.2     |        8.0        |    90.8   |
|     3.3     |        7.67       |    62.0   |
|     3.4     |        7.0        |    49.9   |
|     3.5     |        4.0        |   62.25   |
|     3.6     |        5.0        |    62.0   |
|     3.7     |        3.0        |    58.9   |
|     3.8     |        5.0        |   50.27   |
|     3.9     |        3.5        |    59.4   |
|     4.0     |        4.6        |   58.62   |
|     4.1     |        5.17       |   56.93   |
+-------------+-------------------+-----------+
Truncated to displaylimit of 10.

In [13]:
%%sql
SELECT part_time_job, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY part_time_job;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+---------------+-----------+
| part_time_job | avg_score |
+---------------+-----------+
|       No      |   69.84   |
|      Yes      |   68.74   |
+---------------+-----------+

In [14]:
%%sql
SELECT
  CASE
    WHEN attendance_percentage >= 90 THEN '90-100%'
    WHEN attendance_percentage >= 75 THEN '75-89%'
    WHEN attendance_percentage >= 50 THEN '50-74%'
    ELSE '<50%'
  END AS attendance_group,
  ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY attendance_group
ORDER BY attendance_group;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+------------------+-----------+
| attendance_group | avg_score |
+------------------+-----------+
|      50-74%      |   67.94   |
|      75-89%      |    69.2   |
|     90-100%      |   71.39   |
+------------------+-----------+

In [15]:
#grouping attendance allows for a more meaningful relationship

In [16]:
%%sql
SELECT internet_quality, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY internet_quality;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+------------------+-----------+
| internet_quality | avg_score |
+------------------+-----------+
|     Average      |   70.64   |
|       Good       |   68.65   |
|       Poor       |   69.72   |
+------------------+-----------+

In [17]:
%%sql
SELECT parental_education_level, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY parental_education_level;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+--------------------------+-----------+
| parental_education_level | avg_score |
+--------------------------+-----------+
|           None           |   70.03   |
|         Bachelor         |   70.27   |
|       High School        |   69.55   |
|          Master          |   68.09   |
+--------------------------+-----------+

In [18]:
%%sql
SELECT gender, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY gender;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+--------+-----------+
| gender | avg_score |
+--------+-----------+
| Female |   69.74   |
|  Male  |   69.37   |
| Other  |   70.65   |
+--------+-----------+

In [19]:
%%sql
SELECT extracurricular_participation, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY extracurricular_participation;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+-------------------------------+-----------+
| extracurricular_participation | avg_score |
+-------------------------------+-----------+
|               No              |   69.59   |
|              Yes              |   69.62   |
+-------------------------------+-----------+

In [20]:
%%sql
SELECT study_hours_per_day, social_media_hours, ROUND(AVG(exam_score),2) AS avg_score
FROM students
GROUP BY study_hours_per_day, social_media_hours
ORDER BY study_hours_per_day, social_media_hours;

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+---------------------+--------------------+-----------+
| study_hours_per_day | social_media_hours | avg_score |
+---------------------+--------------------+-----------+
|         0.0         |        0.3         |    53.3   |
|         0.0         |        1.2         |    56.2   |
|         0.0         |        1.4         |    50.1   |
|         0.0         |        1.9         |    55.2   |
|         0.0         |        2.0         |    29.9   |
|         0.0         |        2.4         |   41.75   |
|         0.0         |        2.6         |    32.9   |
|         0.0         |        2.8         |    26.7   |
|         0.0         |        3.5         |    26.2   |
|         0.0         |        3.8         |    31.1   |
+---------------------+--------------------+-----------+
Truncated to displaylimit of 10.

In [23]:
%%sql
Select * FROM students_new WHERE exam_score>=90 ORDER BY exam_score DESC

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+-------------+------------+-----+--------+---------------------+--------------------+---------------+---------------+-----------------------+-------------+--------------+--------------------+--------------------------+------------------+----------------------+-------------------------------+------------+
| student_num | student_id | age | gender | study_hours_per_day | social_media_hours | netflix_hours | part_time_job | attendance_percentage | sleep_hours | diet_quality | exercise_frequency | parental_education_level | internet_quality | mental_health_rating | extracurricular_participation | exam_score |
+-------------+------------+-----+--------+---------------------+--------------------+---------------+---------------+-----------------------+-------------+--------------+--------------------+--------------------------+------------------+----------------------+-------------------------------+------------+
|      2      |   S1001    |  20 | Female |         6.9         |        2.8         |      2.3      |       No      |          97.3         |     4.6     |     Good     |         6          |       High School        |     Average      |          8           |               No              |   100.0    |
|      6      |   S1005    |  24 |  Male  |         7.2         |        1.3         |      0.0      |       No      |          82.9         |     7.4     |     Fair     |         1          |          Master          |     Average      |          4           |               No              |   100.0    |
|      10     |   S1009    |  18 | Female |         4.8         |        3.1         |      1.3      |       No      |          95.4         |     7.5     |     Good     |         5          |         Bachelor         |       Good       |          10          |              Yes              |   100.0    |
|      70     |   S1069    |  22 |  Male  |         6.8         |        3.7         |      1.8      |       No      |          72.3         |     7.5     |     Poor     |         6          |          Master          |     Average      |          5           |               No              |   100.0    |
|      77     |   S1076    |  20 |  Male  |         6.0         |        2.5         |      2.9      |       No      |          85.1         |     6.7     |     Poor     |         5          |         Bachelor         |     Average      |          10          |              Yes              |   100.0    |
|     132     |   S1131    |  21 | Female |         7.2         |        3.7         |      0.0      |       No      |         100.0         |     7.8     |     Good     |         6          |       High School        |       Good       |          9           |               No              |   100.0    |
|     215     |   S1214    |  19 |  Male  |         5.7         |        3.8         |      0.0      |       No      |         100.0         |     8.8     |     Fair     |         3          |           None           |     Average      |          7           |               No              |   100.0    |
|     220     |   S1219    |  23 | Female |         6.2         |        2.8         |      1.0      |       No      |          84.9         |     7.0     |     Fair     |         5          |          Master          |       Good       |          4           |               No              |   100.0    |
|     223     |   S1222    |  22 |  Male  |         6.7         |        2.9         |      2.0      |       No      |          83.2         |     6.6     |     Good     |         6          |         Bachelor         |     Average      |          5           |               No              |   100.0    |
|     231     |   S1230    |  22 |  Male  |         4.2         |        0.3         |      0.1      |       No      |          80.0         |     7.9     |     Poor     |         3          |       High School        |       Poor       |          9           |              Yes              |   100.0    |
+-------------+------------+-----+--------+---------------------+--------------------+---------------+---------------+-----------------------+-------------+--------------+--------------------+--------------------------+------------------+----------------------+-------------------------------+------------+
Truncated to displaylimit of 10.

In [27]:
#relationships for the table that is filtered for the A students

In [26]:
%%sql
Select diet_quality, ROUND(AVG(sleep_hours),1) AS Average_Sleep FROM top_students GROUP BY diet_quality

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+--------------+---------------+
| diet_quality | Average_Sleep |
+--------------+---------------+
|     Fair     |      6.9      |
|     Good     |      6.4      |
|     Poor     |      6.8      |
+--------------+---------------+

In [28]:
%%sql
Select gender, ROUND(AVG(study_hours_per_day),1) AS Average_Study FROM top_students GROUP BY gender

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+--------+---------------+
| gender | Average_Study |
+--------+---------------+
| Female |      5.7      |
|  Male  |      5.6      |
| Other  |      5.3      |
+--------+---------------+

In [29]:
%%sql
Select exercise_frequency, ROUND(AVG(mental_health_rating),1) AS mentality FROM top_students GROUP BY exercise_frequency

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+--------------------+-----------+
| exercise_frequency | mentality |
+--------------------+-----------+
|         0          |    7.6    |
|         1          |    6.9    |
|         2          |    6.7    |
|         3          |    7.2    |
|         4          |    7.4    |
|         5          |    6.6    |
|         6          |    6.7    |
+--------------------+-----------+

In [30]:
%%sql
Select part_time_job,count(part_time_job) as amount FROM top_students GROUP BY part_time_job

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+---------------+--------+
| part_time_job | amount |
+---------------+--------+
|       No      |  103   |
|      Yes      |   23   |
+---------------+--------+

In [31]:
%%sql
Select extracurricular_participation, count(extracurricular_participation) as amount FROM top_students GROUP BY extracurricular_participation

Running query in 'sqlite:///C:\\Users\\david\\SQL\\habvsper.db'

+-------------------------------+--------+
| extracurricular_participation | amount |
+-------------------------------+--------+
|               No              |   85   |
|              Yes              |   41   |
+-------------------------------+--------+

In [32]:
df=pd.read_sql("SELECT * FROM top_students",engine)
print(df)
#makes a dataframe using pandas

     student_num student_id  age  gender  study_hours_per_day  \
0              2      S1001   20  Female                  6.9
1              6      S1005   24    Male                  7.2
2             10      S1009   18  Female                  4.8
3             70      S1069   22    Male                  6.8
4             77      S1076   20    Male                  6.0
..           ...        ...  ...     ...                  ...
121          799      S1798   17  Female                  5.1
122          826      S1825   20    Male                  4.3
123          153      S1152   17  Female                  5.6
124          601      S1600   21    Male                  6.0
125          248      S1247   17  Female                  5.8

     social_media_hours  netflix_hours part_time_job  attendance_percentage  \
0                   2.8            2.3            No                   97.3
1                   1.3            0.0            No                   82.9
2                   3.1            1.3            No                   95.4
3                   3.7            1.8            No                   72.3
4                   2.5            2.9            No                   85.1
..                  ...            ...           ...                    ...
121                 3.9            3.0            No                   79.3
122                 1.3            0.0           Yes                   90.2
123                 2.8            4.1            No                   85.8
124                 3.3            2.2            No                   74.4
125                 3.5            1.9            No                   88.7

     sleep_hours diet_quality  exercise_frequency parental_education_level  \
0            4.6         Good                   6              High School
1            7.4         Fair                   1                   Master
2            7.5         Good                   5                 Bachelor
3            7.5         Poor                   6                   Master
4            6.7         Poor                   5                 Bachelor
..           ...          ...                 ...                      ...
121          7.2         Good                   1                 Bachelor
122          6.3         Good                   0              High School
123          6.8         Good                   4              High School
124          5.4         Fair                   0              High School
125          8.8         Fair                   1                 Bachelor

    internet_quality  mental_health_rating extracurricular_participation  \
0            Average                     8                            No
1            Average                     4                            No
2               Good                    10                           Yes
3            Average                     5                            No
4            Average                    10                           Yes
..               ...                   ...                           ...
121          Average                    10                            No
122          Average                     7                            No
123             Good                     7                            No
124          Average                     8                           Yes
125             Good                     8                           Yes

     exam_score
0         100.0
1         100.0
2         100.0
3         100.0
4         100.0
..          ...
121        90.6
122        90.4
123        90.3
124        90.2
125        90.0

[126 rows x 17 columns]

In [33]:
save_excel_auto_width(df,'top_scorers.xlsx')

In [34]:
#my definition of save_excel_auto_width
'''
def save_excel_auto_width(df, filename, sheet_name="Sheet1"):
    """
    Saves a pandas DataFrame to an Excel file with column widths
    automatically adjusted to fit the content.

    Parameters:
        df (pd.DataFrame): The DataFrame to save.
        filename (str): The Excel file name (e.g., "output.xlsx").
        sheet_name (str): The name of the Excel sheet (default "Sheet1").
    """
    # Save the DataFrame to Excel
    df.to_excel(filename, index=False, sheet_name=sheet_name)

    # Load the file with openpyxl
    wb = load_workbook(filename)
    ws = wb[sheet_name]

    # Adjust column widths
    for col in ws.columns:
        max_length = max(len(str(cell.value)) if cell.value is not None else 0 for cell in col)
        col_letter = get_column_letter(col[0].column)
        ws.column_dimensions[col_letter].width = max_length + 2  # add padding

    wb.save(filename)
'''

'\ndef save_excel_auto_width(df, filename, sheet_name="Sheet1"):\n    """\n    Saves a pandas DataFrame to an Excel file with column widths\n    automatically adjusted to fit the content.\n\n    Parameters:\n        df (pd.DataFrame): The DataFrame to save.\n        filename (str): The Excel file name (e.g., "output.xlsx").\n        sheet_name (str): The name of the Excel sheet (default "Sheet1").\n    """\n    # Save the DataFrame to Excel\n    df.to_excel(filename, index=False, sheet_name=sheet_name)\n\n    # Load the file with openpyxl\n    wb = load_workbook(filename)\n    ws = wb[sheet_name]\n\n    # Adjust column widths\n    for col in ws.columns:\n        max_length = max(len(str(cell.value)) if cell.value is not None else 0 for cell in col)\n        col_letter = get_column_letter(col[0].column)\n        ws.column_dimensions[col_letter].width = max_length + 2  # add padding\n\n    wb.save(filename)\n'